
#.gitignore
PHP-Core/cinema-booking-system/Project-Report-requirements/other/*
PHP-Core/cinema-booking-system/cinesocial/app/views/code_references.php
select.php
test.txt
code_references.php
PHP-Core/cinema-booking-system/cinesocial/app/views/admin/test.php
PHP-Core/cinema-booking-system/cinesocial/app/views/select.php
PHP-Core/cinema-booking-system/cinesocial/data/sql/cinema_db-error.sql
PHP-Core/cinema-booking-system/cinesocial/data/sql/cinema_db1.sql
PHP-Core/cinema-booking-system/cinesocial/app/views/admin/your_upload_image_php_file.php
PHP-Core/cinema-booking-system/cinesocial/app/views/admin/upload_image.php
PHP-Core/cinema-booking-system/cinesocial/app/views/admin/upload.php
PHP-Core/cinema-booking-system/cinesocial/app/views/admin/test*

PHP-Core/cinema-booking-system/img/php3.jpg
PHP-Core/cinema-booking-system/img/php4.jpg
